<ion-view view-title="Settings">
	<ion-header-bar>
		<h1 class="title">Settings</h1>
	</ion-header-bar>
	<ion-nav-buttons side="right">
		<a href="#!/tab/chats" class="button button-clear button-positive">Home</a>
	</ion-nav-buttons>

	<ion-content class="settings">
		<ion-list>
			<ion-item href="#!/profile" class="item-icon-right">
				Profile
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
			<ion-item>
				<div class="text-center">
					<button ng-click="settings.logout()" class="button button-clear button-assertive">Logout</button>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
